header {
	position: absolute;
	width: 100%;
}
.header {
	padding: 0px 24px 0 24px;
	margin-top: 16px;
}
.logo {
	max-width: 50%;
}

.mobile-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	& svg {
		width: 35px;
		height: 35px;
		margin: 0;
	}
}
