<div class="section">
    <div class="about" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="85" fxFlex.gt-md="40">
            <a name="about" class="display--none"></a>
            <h1 class="mat-display-3">Braydon Harris</h1><br>
            <p class="mat-display-1" [ngStyle.lt-md]="{'font-size.px': 16}">Senior Software Engineer with a focus in Javascript, Music Enthusiast, and all around web addict. I like to focus on clean design, well written code and taking the plunge into fun challenging projects!</p>
            <div>
                <ul>
                    <li><a href="//linkedin.com/in/braydonharris" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="//instagram.com/bcreature" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="//youtube.com/braydonharris" target="_blank"></a><i class="fab fa-youtube"></i></li>
                    <li><a href="//drive.google.com/file/d/1ANEykhYZpz7hLME5H3YmG0uRvUBPnFOk/view?usp=sharing" target="_blank"><i class="far fa-file-pdf"></i></a></li>
                </ul>       
            </div>
        </div>
    </div>
</div>

