.heading-spacer {
	height: 150px;
}

.section {
	height: 83vh;
	min-height: 500px;
}

.personal-links {
	list-style: none;
	display: flex;
	gap: 24px;
	& svg {
		fill: #fff;
		width: 50px;
		height: 50px;
	}
}
.about {
	min-height: 500px;
}

.profile {
	width: 15em;
}
